body{
    background-color: rgb(89, 0, 255)
}

.container{display: flex;
    background-color: aqua;
    gap: 10px 40px;
    /*height: 600px;*/
    /*flex-flow: column wrap;*/
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;

    

}

.item{
    background-color: rgb(251, 255, 0);
    width: 200px;
    height: 200px;
}
.item-3{flex-grow: 1;

}

